body  {
  font-family: sans-serif;
  text-align: center;
}
.inputbox {
  width: 30%;
  height:30px;
}

input[type=button] {
  background-color: #74b9ff;
  border: none;
  color: white;
  padding: 13px 13px;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 12px;
}

input[type=button]:hover {
  background-color: #5181b2;
  border: none;
  color: white;
  padding: 13px 13px;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 12px;
}

h2 {
  font-size: 25px;
  margin: 15px auto;
}
